$primaryColor: #4527a4;

.wp-block-lvg-lightbox-video-gallery {
  * {
    box-sizing: border-box;
    margin: 0;
  }


  .lightbox-page {
    // padding: 40px;
    // background-image: linear-gradient(#e8f0ff 0%, white 52.08%);
    color: #0e3481;
    // min-height: 100vh;
    font-family: system-ui, sans-serif;

    display: flex;
    justify-content: center;

    .header {
      text-align: center;

      .lead {
        max-width: 620px;
        margin: 0 auto;
      }

      .btn {
        border: 1px solid #0e3481;
        color: #0e3481;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
          background-color: #0e3481;
          color: #fff;
        }
      }
    }

    .gallery-container {
      // display: flex;
      // display: grid;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      // gap: 10px;

      a {
        // width: 240px;
        // height: 135px;
        // margin: 5px;
        // border-radius: 8px;
        overflow: hidden;
        transition:
          transform 0.3s ease,
          box-shadow 0.3s ease;

        // &:hover {
        //   transform: translateY(-5px);
        //   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        // }

        img {
          max-width: 100%;
          width: 100%;
          height: 100%;
          display: block;
          // border-radius: 8px;
          // object-fit: cover;
        }
      }
    }
  }
}