.dashicons {
	font-family: dashicons !important;
}

@for $i from 1 through 12 {
	.columns-#{$i} {
		grid-template-columns: repeat(#{$i}, 1fr);
	}
}

@media (max-width: 768px) {
	@for $i from 1 through 12 {
		.columns-tablet-#{$i} {
			grid-template-columns: repeat(#{$i}, 1fr);
		}
	}
}

@media (max-width: 576px) {
	@for $i from 1 through 12 {
		.columns-mobile-#{$i} {
			grid-template-columns: repeat(#{$i}, 1fr);
		}
	}
}

@keyframes vgbShine {
	100% {
		left: 125%;
	}
}

// Video Gallery
.wp-block-vgb-video-gallery {
	* {
		box-sizing: border-box;
	}

	.filter {
		font-size: 14px;
		text-align: center;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 12px;
		padding: 20px 0;
		border-bottom: solid 1px #e3e3e3;
		margin: 0;
		margin-bottom: 20px;
	}

	.filter button {
		text-decoration: none;
		display: inline-block;
		padding: 10px 20px;
		border: none;
		border-radius: 50px;
		cursor: pointer;
	}

	.videoGallery {
		display: inline-block;
		padding: 1px;
		margin: 0 auto;
	}

	.vgbColumnSizer {
		display: grid;
		padding: 0 1px;
	}

	.galleryItem {
		overflow: hidden;
		cursor: pointer;
		position: relative;
	}

	.galleryItemCaption {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		// background: rgba(0, 0, 0, 0.7);
		// color: #fff;
		// padding: 10px;
		// font-size: 14px;
		text-align: center;
		box-sizing: border-box;
		z-index: 2;
	}

	.galleryFigure,
	.react-thumbnail-generator {
		width: 100%;
		height: 100%;
		position: relative;
		margin: 0;
		transition: all 0.4s ease-in-out;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all 0.3s cubic-bezier(0.20, 0.60, 0.70, 0.80);
		}
	}
}

.vgbFancyBox {
	.fancybox-content {
		.plyr {
			height: 100%;
			margin: 0 auto;
		}

		.plyr__video-wrapper {
			width: auto;

			video {
				width: auto;
			}
		}

		input[type=range]::-webkit-slider-runnable-track {
			box-shadow: none;
		}

		input[type=range]::-moz-range-track {
			box-shadow: none;
		}

		input[type=range]::-ms-fill-upper {
			box-shadow: none;
		}

		input[type=range]::-ms-fill-lower {
			box-shadow: none;
		}
	}
}