$primaryColor: #4527a4;

.bBlocksInspectorInfo {
  padding: 6px;

  a {
    text-decoration: none;
    font-weight: 700;
  }
}

.wp-block-vs-video-slider {
  .selectHelp {
    color: #616063;
  }
}

.components-button.components-autocomplete__result.block-editor-autocompleters__block.is-selected {
  color: #fff;
  .vs-gallery {
    stroke: #fff !important;
    stroke-width: 2;
  }
}
